/* GENERALS  */

body{
    padding-top: 50px;
}


section{
    padding: 80px 0 80px 0;
}

p{
    margin: 20px 0 20px 0;
}
nav{
    z-index: 1;
}

footer{
    background-color: #2D3E50;
    position: relative;
    color: white;
    padding-bottom: 80px;
}



/* NAVBAR  */


.nav-logo{
height:50px;
width: 50px;
}

nav .content{
    font-size: 14px;
}

nav .software-card{
    height: 50px;
    display: flex;
    align-items: center;
}

nav .content a{
    text-decoration: none;
    color: #1392AE;
}

nav .content h3{
    font-size: 16px;
}

nav .content p{
    margin: 0;
}

.nav-icon{
    transform: scale(0.7);
}


.nav-scroll a{
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 13px;
    height: 50px;
}

.resources-drop .dropdown-menu{
    min-width: 600px;
}

.software-drop .dropdown-menu{
    min-width: 800px;
    background-color: #F5F8FA;
}




/* SECTION START  */


.start{
    background-color: #F5F8FA;
}

.start a{
    margin: 30px 0 10px 0;
}

.start li{
    margin: 10px 0 10px 0;
}

.bi-check-circle-fill{
    color: rgb(255, 94, 0);
    margin-right: 5px;
}


/* SECTION STATISTIC  */


.statistic{
    background-color: #00B8A9;
}

.img-grow{
    width: 250px;
    height: 300px;
}




/* FOOTER  */



footer li{
    margin: 15px 0 15px 0;
    font-size: 13px;
}

.footer-play{
    width: 200px;
    height: 60px;
    margin: 20px 0 20px 0;
}

.bar{
    display: none;
    width: 535px;
    height: 1px;
    background-color: white;
  }


footer .bi{
    font-size: 28px;
    margin: 15px;
}

footer .social a{
    margin: 10px;
}




/* UTILITIES  */

.btn-orange{
    background-color: #FF7A59;
    color: white;
    padding: 8px 15px 8px 15px;
    transition: 0.2s linear;
}

.btn-white{
    background-color: white;
    color: #FF7A59;
    border: 1px solid #FF7A59;
    transition: 0.2s linear;
    padding: 10px 15px 10px 15px;
}


.content{
    background-color: white;
    border-radius: 10px;
    transition: 0.2s linear;
}

.brd:nth-child(even) {
    border-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 0;
  }


  .brd:nth-child(odd) {
    border-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 0;
}

.uber{
    margin-top: 20px;
}



/* MEDIAQUERY  */

@media screen and (max-width: 992px){   
    .hid{
        display: none;
        position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
        }
        
        .hid li{
            width: 100%;
            padding: 20px 0 20px 0;
            background-color: white;
            border: 1px black solid;
            border-radius: 5px;
            margin: 0;
            color: black;
        }

        .btn{
            width: 100%;
        }
        
        .nav-scroll{
            display: none !important;
        }
    }
    
  

    

    
    
 @media screen and (min-width: 992px){
        .brd:nth-child(1) , .brd:nth-child(2) , .brd:nth-child(3) , .brd:nth-child(4){
        border-top: 0;
    }
    
    .brd:nth-child(5) , .brd:nth-child(6) , .brd:nth-child(7) , .brd:nth-child(8){
        border-bottom: 0;
    }
    
    .brd:nth-child(2) , .brd:nth-child(6) {
        border-right: 1px solid white;
    }
    
    .bar{
        display: inline-block;
    } 
    
    footer .col-lg-5{
        border-right: 1px white solid;
    }
}





/* HOVER EFFECTS  */


.uber:hover .hid-features , .uber:hover .hid-company , .uber:hover .hid-costumers , .uber:hover .hid-partners , .uber:hover .hid-tools{
    display: block;
}

.content:hover{
    transform: scale(1.02);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.btn-orange:hover{
    background-color: #ffbcac;
    transform: scale(0.95);
}

.btn-white:hover{
    background-color: #fff1ee;
    transform: scale(0.95);
}

header a:hover , footer a:hover{
    text-decoration: underline;
}

