.start{
    background-color: rgb(197, 191, 191);
}


.statistic{
    background-color: aquamarine;
}

.img-grow{
    width: 250px;
    height: 300px;
}

footer{
    background-color: rgb(97, 93, 93);
    position: relative;
}

.bi-facebook{
    font-weight: 20px;
}

/* UTILITIES  */

.btn-orange{
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 10px 15px 10px 15px;
}

.btn-white{
    background-color: white;
    color: rgb(255, 94, 0);
    border: 1px solid rgb(255, 94, 0);
    padding: 10px 15px 10px 15px;
}

p{
    margin: 20px 0 20px 0;
}

.content{
    background-color: white;
    border-radius: 10px;
}

.brd:nth-child(even) {
    border-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 0;
  }


  .brd:nth-child(odd) {
    border-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 0;
  }

  .uber{
      margin-top: 20px;
  }




/* DROPDOWN  */
.hid{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.hid li{
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
}

.uber:hover .hid-features , .uber:hover .hid-company , .uber:hover .hid-costumers , .uber:hover .hid-partners , .uber:hover .hid-tools{
    display: block;
}









@media screen and (min-width: 992px){
    .brd:nth-child(1) , .brd:nth-child(2) , .brd:nth-child(3) , .brd:nth-child(4){
        border-top: 0;
    }

    .brd:nth-child(5) , .brd:nth-child(6) , .brd:nth-child(7) , .brd:nth-child(8){
        border-bottom: 0;
    }

    .brd:nth-child(2) , .brd:nth-child(6) {
        border-right: 1px solid white;
    }
}




@media screen and (max-width: 992px){
  .btn{
      width: 100%;
  }
}
